.container {
    margin-top: 30px;
    max-width: 100%;
    padding-left: 3%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

h4{
    text-decoration: underline;
    text-align: center;
}

.first-half{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.second-half{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 150px;
    transform: translateY(3rem);
}


.fruit{
    width:100%;
    height: 200px;
}
footer{
    display: flex;
    justify-content:center;
    margin-top: 90px;
 
   
}
.people{
    width:80%;
}
.team{
    width: 150px;
    text-align: center;
    font-size: smaller;

}

@media (max-width:800px) {
    .container{
        display:grid ;
        flex-direction: row;
        text-align: center;
    }
    .fruit{
        width:70%;
        height: 50%;
    }
    .first-half{
    flex-wrap: wrap;
    justify-content: center;
        flex-direction: unset;
        width: 100%;
        gap: 20px;
    }
    .second-half{
        transform: translateY(4rem);
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
         flex-direction: unset;
        width: 100%;
        gap: 20px;
    }
}
@media (max-width:550px) {
    .container{
        margin-top: 50px;
    }
    .second-half{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    footer{
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-between;
     }
/* footer{
    width: 100%;
   display: grid;
   align-content: center;
   grid-template-columns: 30% 20% 10%;
   grid-template-rows: 90px 100px 100px;
gap: 55px;
}
.people{
    width: 100%;
    height: 100%;
    
}
    .a{
        grid-column: 2/4;
        grid-row: 1;
        width: 100%;
        height: 100%;
        
    }
    .b{
        width:100% ;
        grid-column: 1/3;
        grid-row: 2;
    }
    .c{
        width:100% ;
        grid-column: 3;
        grid-row: 2;
    }
    .d{
        width:100% ;
        grid-column: 3;
        grid-row: 3;
    }
    .e{
        width:100% ;
        grid-column: 2;
        grid-row: 3;
    }
   .f{ width:100% ;
    grid-column: 1;
    grid-row: 3;
    }
   .g{
    width:100% ;
    grid-column: 1;
    grid-row: 1;
   } */


.fruit{
    width:100%;
    height: 40%;
}
}