.container {
    max-width: 80%;
    padding-left: 3%;
}

h4{
    text-align: center;
}





.class1{
    
    font-family: 'Nunito Sans';
    text-align: start;
    padding-left: 1%;
    padding-bottom: 5px;
    width: 410px;
    height: 410px;
    
}
.class2{
    font-family: 'Nunito Sans';
    text-align:start;
    width: 410px;
    height: 410px;
    padding-left: 1%;
    margin-left: 50%;
    padding-bottom: 5px;
    font-weight: 400;
    

    

}
    
.class3{
    
    text-align: start;
    font-family: 'Nunito Sans';
    padding-left: 1%;
    padding-bottom: 5px;
    width: 410px;
    height: 410px;
 }
.class4{
   
     text-align:start;
     font-family: 'Nunito Sans';
    padding-left: 1%;
    margin-left: 50%;
    padding-bottom: 5px;
    width: 410px;
    height: 410px;
}

footer{
    display: flex;
    flex-direction: row;
}
                        